* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formContainer {
  background-color: #ffffff;
  width: min(100%, 528px);
  min-height: 100vh;
  border-radius: 18px;
  padding: 33px 80px 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.0625rem 0.25rem 0 #00000026, 0 0.25rem 0.25rem 0 #00000026;
}

@media (max-width: 528px) {
  .formContainer {
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
