.container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.6rem;
  padding-left: 1.95rem;
  background-color: #ffffff;
  border-bottom: 0.5px solid #00000019;
  z-index: -1;
  box-sizing: border-box;
}

.logo {
  width: 7.5rem;
}
